<div class="fondo-izquierda">

    <div class="section"></div>
    <div class="section"></div>

    <div class="row container login">
        <div class="col s12 m6 offset-m3">
            <div class="card masada-dark-background large">

                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="card-content">
                        <div class="center-align">
                            <img src="assets/images/logos/freemason-logo.svg" class="logo-Mas">
                        </div>
                        <!-- <span class="card-title center-align">Inicio de sesión</span> -->
                        <!-- Formulario de inicio de sesion -->
                        <!-- Username -->
                        <div class="input-field col s12">
                            <i class="material-icons prefix text-masada-gold">account_circle</i>
                            <label for="nombreUsuario">Email</label>
                            <input type="text" autocomplete="username" id="nombreUsuario" name="nombreUsuario"
                                formControlName="email" maxlength="30" required>
                        </div>
                        <!-- Password -->
                        <div class="input-field col s12">
                            <i class="material-icons prefix text-masada-gold">vpn_key</i>
                            <label for="passwordUsuario">Contraseña</label>
                            <input type="password" autocomplete="current-password" name="passwordUsuario"
                                id="passwordUsuario" formControlName="password" maxlength="30" required>
                        </div>

                    </div>
                    <div class="card-action">
                        <div class="col s12">
                            <div class="center-align">
                                <button [disabled]="!this.form.valid || this.loading"
                                    class="btn waves-effect waves-light masada-dark-background-contrast col s12">Entrar</button>
                                <!-- <a routerLink="../register" class="btn btn-link">Register</a> -->
                            </div>
                        </div>
                        <div class="col s12">
                            <div class="center-align">
                                <br>
                                <a routerLink="../forgot-password" class="btn-flat waves-effect waves-light col s12 center">¿Olvidó su contraseña?</a>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="section"></div>
</div>