.oswaldFont {
    font-family: "Oswald", sans-serif;
}

.img-filter {
    filter: blur(1px) brightness(0.4) grayscale(0.7);
}

.limited-parallax-container {
    height: 300px;
}

.limited-parallax-container-2 {
    height: 210px;
}

.texto-justificado {
    text-align: justify;
}

th {
    border-radius: 0px;
}



