<div class="fondo-izquierda">

  <div class="section"></div>
  <div class="section"></div>

  <div class="row container login">
    <div class="col s12 m6 offset-m3">
      <div class="card qrsite-light-background large">

        <form [formGroup]="form" (ngSubmit)="onSubmit()">
          <div class="card-content">
            <div class="center-align mb-4">
              <img src="assets/images/logos/qrlogo.svg" class="logo-login">
            </div>
            <!-- <span class="card-title center-align">Inicio de sesión</span> -->

            <!-- Formulario de inicio de sesion -->
            <div class="row" style="gap: 1em;">

              <!-- Username -->
              <div class="col s12 input-field">
                <i class="material-icons prefix text-qrsite-accent">account_circle</i>
                <input type="email" autocomplete="username" id="nombreUsuario" name="nombreUsuario" placeholder=" "
                  class="validate" formControlName="email" maxlength="100" required>
                <label for="nombreUsuario">Email</label>
              </div>
              <!-- Password -->
              <div class="col s12 input-field">
                <i class="material-icons prefix text-qrsite-accent">vpn_key</i>
                <input type="password" autocomplete="current-password" name="passwordUsuario" id="passwordUsuario"
                  placeholder=" " formControlName="password" maxlength="30" required>
                <label for="passwordUsuario">Password</label>
              </div>

            </div>

            <div class="section"></div>

            <!-- Botones del formulario -->
            <div class="row section">

              <div class="col s12">
                <div class="center-align">
                  <a tabindex="0" class="btn text mr-4" routerLink="../register">Registrarse</a>
                  <button [disabled]="!this.form.valid || this.loading"
                    class="btn qrsite-contrast-background">Entrar</button>
                </div>
              </div>

              <div class="col s12">
                <div class="center-align">
                  <a routerLink="../forgot-password" class="btn text mt-4">¿Olvidó su
                    contraseña?</a>
                </div>
              </div>

            </div>

          </div>
        </form>

      </div>
    </div>
  </div>

  <div class="section"></div>

</div>
