<div class="bg-vcard">
  <!-- loader when vcard not  -->
  <div *ngIf="!this.datosVCard" class="container section center-align">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="this.datosVCard" class="container section">
    <div class="row">
      <!-- foto -->
      <div class="col s12 m4 m-2 center-align">
        <img src="{{datosVCard.foto}}" class="responsive-img profilePic">
      </div>
      <!-- datos -->
      <div class="col s12 m8 m-2 center-align">

        <div class="card">
          <div class="card-content">
            <div class="row">
              <div class="col s12">
                <span class="card-title">
                  {{datosVCard.nombres | uppercase}} {{datosVCard.primerApellido | uppercase}} {{datosVCard.segundoApellido | uppercase}}
                </span>
                <p>{{datosVCard.puesto | uppercase}}</p>
                <p>
                  <a href="https://grupocsi.com" class="btn text">{{datosVCard.empresa}}</a>
                </p>
              </div>
            </div>
          </div>
        </div>

      </div>

    </div>
  </div>
</div>
