<div class="bg-vcard">
  <div *ngIf="!this.datosVCard" class="container section center-align">
    <div class="preloader-wrapper big active">
      <div class="spinner-layer spinner-blue-only">
        <div class="circle-clipper left">
          <div class="circle"></div>
        </div>
        <div class="gap-patch">
          <div class="circle"></div>
        </div>
        <div class="circle-clipper right">
          <div class="circle"></div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="this.datosVCard" class="container section">
    <div class="row">
      <!-- foto -->
      <div class="col s12 m4 m-2 center-align">
        <img src="{{datosVCard.foto}}" class="responsive-img profilePic">
      </div>
      <!-- datos -->
      <div class="col s12 m6 m-2">
        <div class="section blue-grey-text text-lighten-5">
          <div class="row">
            <!-- Nombre, puesto y empresa -->
            <div class="col s12 center-align">
              <h5 id="nombreCompleto">
                {{datosVCard.nombres}} {{datosVCard.primerApellido}} {{datosVCard.segundoApellido}}
              </h5>
              <p id="puesto">
                <span class="puesto">
                  <span>{{datosVCard.puesto | uppercase}}</span>, <a class="btn text blue-grey-text text-lighten-5"
                    href="https://grupocsi.com">{{datosVCard.empresa | uppercase}}</a>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
