<!-- NAVBAR -->
<div #navBar class="navbar-fixed hide-on-small-and-down">
  <nav class="theme-background-variant">
    <div class="nav-wrapper">
      <a data-target="sideMenu" class="sidenav-trigger show-on-large" href="#" *ngIf="account"><i
          class="material-icons grey-text text-darken-4">menu</i></a>
      <span>&nbsp;</span>
      <!-- Logo que regresa a Home -->
      <a *ngIf="!isLightTheme" routerLink="/" class="brand-logo hide-on-large-only">
        <img src="assets/images/logos/qrlogo.svg" alt="logo-navbar" class="logoNavbarSmall">
      </a>
      <a *ngIf="!isLightTheme" routerLink="/" class="brand-logo hide-on-med-and-down">
        <img src="assets/images/logos/qrlogo.svg" alt="logo-navbar" class="logoNavbar">
      </a>
      <!-- Logo que regresa a Home -->
      <a *ngIf="isLightTheme" routerLink="/" class="brand-logo hide-on-large-only">
        <img src="assets/images/logos/qrlogo.svg" alt="logo-navbar" class="logoNavbarSmall">
      </a>
      <a *ngIf="isLightTheme" routerLink="/" class="brand-logo hide-on-med-and-down">
        <img src="assets/images/logos/qrlogo.svg" alt="logo-navbar" class="logoNavbar">
      </a>

      <!-- Menú -->
      <ul class="right hide-on-med-and-down">
        <li>
          <div class="switch">
            <label>
              <input type="checkbox" (change)="onThemeSwitchChange()" [checked]="isLightTheme">
              <span class="lever"></span>
            </label>
          </div>
        </li>
        <li *ngIf="!isLightTheme"><a (click)="onThemeSwitchChange()"><i
              class="material-icons theme-main-text-variant">bedtime</i></a></li>
        <li *ngIf="isLightTheme"><a (click)="onThemeSwitchChange()"><i
              class="material-icons theme-main-text-variant">flare</i></a></li>
        <li *ngIf="account"><a (click)="logout()"><i
              class="material-icons theme-main-text-variant">directions_run</i></a></li>
      </ul>

    </div>
  </nav>
</div>

<!-- SideNav -->
<ul id="sideMenu" class="sidenav">
  <li>
    <div class="user-view">
      <div class="background">
        <img class="img-sidenav" src="assets/images/background/purple-space2.jpg">
      </div>
      <h5 class="white-text">Bienvenido</h5>
      <a href="#name"><span class="white-text name">{{account?.firstName}} {{account?.lastName}}</span></a>
      <a href="#email"><span class="white-text email">{{account?.email}}</span></a>
      <br>
    </div>
  </li>

  <!-- Home, siempre va en el menú -->
  <li><a routerLink="/" id="aHomeLink"><i class="material-icons">home</i>Home</a></li>


  <!-- <li><a routerLink="/internal/calendar"><i class="material-icons">calendar_month</i>Calendario</a></li> -->


  <!-- Cerrar sesión -->
  <li><a style="cursor: pointer;" (click)="logout()" class="sidenav-close"><i
        class="material-icons">directions_run</i>Cerrar sesión</a></li>
</ul>


<!-- main router outlet -->
<router-outlet></router-outlet>
