<!-- Sección título de la página parallax -->
<div class="parallax-container limited-parallax-container-2">
    <div class="container section">
        <div class="row center-align">
            <div class="col s12">
                <h1 class="oswaldFont header">Ingreso a la Órden</h1>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img class="img-filter" src="assets/images/background/masada-bg-banner.jpg" />
    </div>
</div>

<div class="container section">
    <div class="row">
        <div class="col s12">
            <h3 class="oswaldFont header center">¿Por qué ingresar a la órden?</h3>
        </div>
        <div class="col s12">
            <p class="texto-justificado">
                En realidad, el ingreso en la Francmasonería se fundamenta en una decisión libre, individual y
                responsable. La masonería no hace ningún tipo de proselitismo, por lo que cualquier solicitud debe
                emanar de la voluntad y el convencimiento del solicitante.
            </p>
            <p class="texto-justificado">
                Nosotros, la R&#8756;L&#8756;S&#8756; Masada 324, somos una lógia jurisdiccionada a la Muy Respetable
                Gran Logia de Valle de México, y somos una institución absolutamente abierta a todas aquellas personas
                interesadas en saber algo más sobre la Francmasonería, sea por simple curiosidad, sea porque contemplan
                la posibilidad de solicitar su ingreso. Consideramos que es del todo recomendable disponer del
                suficiente conocimiento sobre los principios y finalidades de la Francmasonería para poder tomar una
                decisión libre y fundamentada.
            </p>
        </div>
    </div>
</div>

<!-- Parrallax Intermedio -->
<div class="parallax-container limited-parallax-container-2">
    <div class="container section">
        <div class="row center-align">
            <div class="col s12">
                <h3 class="oswaldFont header">Requisitos para ser Masón</h3>
            </div>
            <div class="col s12 hide-on-med-and-down">
                <h6 class="header">Cómo cualquier otra institución, es necesario cumplir con ciertos requisitos para
                    todos aquellos que estén interesados en solicitar su ingreso.</h6>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img class="img-filter" src="assets/images/background/masada-bg-banner.jpg" />
    </div>
</div>

<div class="container section">
    <div class="row">
        <div class="col s12">
            <h6 class="header">Toda persona que esté interesada en pertenecer a la Francmasonería ha de reunir los
                siguientes tres requisitos:</h6>
        </div>
        <div class="col s12">
            <ol>
                <li>
                    Ser una persona <strong>LIBRE</strong>, puesto que la solicitud de iniciación a la Masonería ha de
                    ser consecuencia de la innata libertad individual, lejos de toda presión, influencia, dependencia, o
                    circunstancia que la coarte.
                </li>
                <li>
                    Ser una persona <strong>DE BUENAS COSTUMBRES</strong>, es decir, digna de confianza, honrada en su
                    vida privada, en su forma de trabajar, y de buena reputación.
                </li>
                <li>
                    <strong>CREER EN UN PRINCIPIO SUPERIOR</strong> o Causa Primera de todo lo creado, al que se
                    denomina comúnmente como Dios, y que los masones, respetando siempre la libertad del individuo ante
                    cualquier creencia particular, nombran como Gran Arquitecto del Universo.
                </li>
            </ol>
        </div>
        <div class="col s12">
            <p class="texto-justificado">
                Además, para ser miembro es preciso ser varón, mayor de 21 años, sin distinción de nacionalidad, grupo
                social o religión, tener una mínima capacidad de comprensión de los conceptos filosóficos de la Orden y
                disponer de una “ciencia, arte, oficio, o renta” tal como expresan los antiguos lineamientos de la
                Orden.
            </p>
        </div>
        <div class="col s12">
            <p class="texto-justificado">
                Si deseas pertenecer a la orden o conocer más acerca de nosotros por favor escribenos a través del
                siguiente enlace y alguien de nosotros se pondrá en contacto contigo.
            </p>
        </div>
        <div class="col s12 center-align">
            <a class="waves-effect waves-light btn masada-dark-background text-masada-gold-light"
                href="mailto:hola@masada324.org?subject=Hola&body=Me gustaría saber más acerca de ustedes"><i
                    class="material-icons right">email</i>Contactanos</a>
        </div>
    </div>
</div>