<!-- Sección título de la página parallax -->
<div class="parallax-container limited-parallax-container">
    <div class="container section">
        <div class="row center-align">
            <div class="col s12">
                <h1 class="oswaldFont header">R&#8756;L&#8756;S&#8756; Masada No. 324</h1>
            </div>
            <div class="col s12 hide-on-med-and-down">
                <h5 class="header">Jurisdiccionada a la M&#8756;R&#8756;G&#8756;L&#8756; Valle de México</h5>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img class="img-filter" src="assets/images/background/masada-bg-banner.jpg" />
    </div>
</div>

<!-- Sección fija de la página -->
<div class="container section">
    <div class="row">
        <div class="col s12">
            <h3 class="oswaldFont header center">Sintesis histórica de la epopeya de Masada</h3>
            <p class="texto-justificado">
                Trasladémonos al año 44 E&#8756;V&#8756;, cuando muerto el rey Agripa, Judea volvió a quedar bajo la
                tutela de roma. Por afrentoso a dios, no era tolerable el servir a un gobernador Romano, ni el pago de
                tributos al emperador Vespasiano. Decidiéndose los Judíos a ocupar la meseta de <strong>Masada</strong>
                como bastión defensivo y pasando el tiempo, en el año 66 E&#8756;V&#8756; se produjo un estallido social
                en el que los judíos perdieron su patria, el templo de Salomón y la práctica de su religión a manos de
                los Romanos, motivando la dispersión de muchos de ellos por todas partes del mundo.
            </p>
            <p class="texto-justificado">
                El historiador Josefo Flavio que acompañaba a las tropas romanas que entraron el día 16 de abril del año
                73 E&#8756;V&#8756; a la fortaleza de <strong>Masada</strong>, después de la heroica defensa y
                resistencia, vió la carnicería que dentro había, encontrando armas, escudos, víveres, todos ellos
                apilados, así como 957 cadáveres diseminados entre las ruinas humeantes; pudiendo entrevistar a tres
                supervivientes de la hecatombe, dos niños y una mujer escaparon de la matanza y suicidio realizados,
                comentándole ellos detalladamente todo lo acontecido durante la vigilia de la noche anterior al asalto
                de los Romanos.
            </p>
            <p class="texto-justificado">
                De parte de los sobrevivientes supó que, él comandante Eleazar Ben Jair con su caracterizada elocuencia
                de convencimiento, motivó a los defensores de la fortaleza de <strong>Masada</strong> para tomar la
                decisión del suicidio antes que rendirse ante los Romanos, dirigiéndole a todos está arenga:
            </p>
            <blockquote>
                Desde que el hombre primitivo empezó a pensar, las palabras de nuestros antepasados y las de los
                dioses, apoyadas por las acciones y los espíritus de nuestros predecesores, nos han hecho entender
                constantemente que la calamidad del hombre es la vida, y no la muerte. La muerte da libertad a
                nuestras almas y las deja irse a su propia y pura casa, donde no conocerán calamidades; pero
                mientras están confinadas dentro de un cuerpo mortal y comparten sus miserias, en estricta verdad
                están muertas.
                <br><br>
                Porque la asociación de lo divino con lo mortal es muy impropia. El alma puede, por supuesto, hacer
                mucho cuando está aprisionada en el cuerpo; hace del cuerpo su gran órgano del sentir, moviéndolo de
                manera invisible e impulsándolo en sus acciones más allá del alcance de la naturaleza mortal. Pero
                cuando se libera del peso que la arrastra hacia la tierra y se le cuelga alrededor, el alma vuelve a
                su lugar natural y en verdad adquiere un poder bendito y una fuerza completamente libre, y permanece
                tan invisible a los ojos humanos como el mismo Dios. Ni siquiera cuando está en el cuerpo se la
                puede mirar; no se la advierte cuando entra y no se la ve cuando se va, y tiene una naturaleza
                imperecedera pero produce cambios en el cuerpo; pues todo lo que el alma toca vive y florece, todo
                lo que abandona se marchita y muere: tal es la sobreabundancia que tiene de inmortalidad.
                <br><br>
                Muramos sin ser esclavos de nuestros enemigos, y dejemos este mundo como hombres libres en compañía
                de nuestras mujeres e hijos.
                <br><br>
                Todos ustedes son hombres de verdadero coraje que, contemplando esta vida como una especie de servicio
                que debemos prestar a la naturaleza, la soportan a regañadientes. Apresuren a liberar sus almas de sus
                cuerpos y que ningún infortunio les apriete o les ahuyente el deseo de vida inmortal, inpulsándoles a
                informar a sus amigos que van a partir.
            </blockquote>
        </div>
    </div>
</div>

<!-- Parrallax Intermedio -->
<div class="parallax-container limited-parallax-container-2">
    <div class="container section">
        <div class="row center-align">
            <div class="col s12">
                <h3 class="oswaldFont header">¿En que podemos ayudarte?</h3>
            </div>
            <div class="col s12 hide-on-med-and-down">
                <h6 class="header">Estos son solo algunos de los servicios que Masada puede ofrecerte, por favor
                    contactanos en caso de requerir algo adicional o que no este a la vista.</h6>
            </div>
        </div>
    </div>
    <div class="parallax">
        <img class="img-filter" src="assets/images/background/masada-bg-banner.jpg" />
    </div>
</div>

<!-- Sección de servicios -->
<div class="container">
    <div class="section">

        <!--   Sección tres columnas   -->
        <div class="row">

            <!-- Ingreso -->
            <div class="col s12 l4">
                <!-- Tarjeta -->
                <div class="card masada-dark-background small">
                    <div class="card-content">
                        <h5 class="center text-masada-gold-light"><i class="material-icons medium">group</i></h5>
                        <span class="card-title oswaldFont center-align">Ingreso a la órden</span>
                        <p class="light texto-justificado">
                            El ingreso a la Masonería es un paso muy importante en la vida de todo Hombre si
                            gustas entrar es necesario que te informes de que se trata.
                        </p>
                    </div>

                    <div class="card-action center">
                        <a routerLink="/ingreso">Solicitar ingreso</a>
                    </div>
                </div>
            </div>

            <!-- Biblioteca -->
            <div class="col s12 l4">
                <!-- Tarjeta -->
                <div class="card masada-dark-background small">
                    <div class="card-content">
                        <h5 class="center text-masada-gold-light"><i
                                class="material-icons medium">chrome_reader_mode</i></h5>
                        <span class="card-title oswaldFont center-align">Biblioteca</span>
                        <p class="light texto-justificado">
                            Somos defensores del conocimiento libre, por ello ponemos a tu disposición algunos libros
                            electrónicos que consideramos te serán últiles.
                        </p>
                    </div>

                    <div class="card-action center">
                        <a routerLink="/biblioteca">Visitar biblioteca</a>
                    </div>
                </div>
            </div>

            <!-- Cuadro logial -->
            <div class="col s12 l4">
                <!-- Tarjeta -->
                <div class="card masada-dark-background small">
                    <div class="card-content">
                        <h5 class="center text-masada-gold-light"><i class="material-icons medium">work_outline</i></h5>
                        <span class="card-title oswaldFont center-align">Cuadro Logial</span>
                        <p class="light texto-justificado">
                            Cuadro de Dignatarios y Oficiales electos y miembros activos del taller
                            para el periodo Masónico {{this.anioActual}} E&#8756;V&#8756;.
                        </p>
                    </div>

                    <div class="card-action center">
                        <a href="#">Ver cuadro logial</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<!-- Parrallax footer -->
<div class="parallax-container limited-parallax-container-2">
    <div class="parallax">
        <img class="img-filter" src="assets/images/background/masada-bg-banner.jpg" />
    </div>
</div>