// Colores especiales  para masada
$masada-gold: #BF9D5E;
$masada-gold-light: #F2EFBB;
$masada-dark-background: #252526;
$masada-dark-background-contrast: #402401;
$masada-grey-highlight: #D9D9D9;


// Tema para masada
// $primary-color: color("grey", "darken-4") !default;
// $primary-color-light: lighten($primary-color, 15%) !default;
// $primary-color-dark: darken($primary-color, 15%) !default;

// $secondary-color: color("red", "darken-4") !default;
// $success-color: color("green", "base") !default;
// $error-color: color("red", "base") !default;
// $link-color: color("light-blue", "darken-1") !default;